{% extends "base.html" %}
{% block content %}
<div class="row  height">
    <form method="post" class="newpost_page">
        <h2>New recipe</h2>
        <div class="block">
            <input type="text" name="subject" value="{{subject}}" placeholder="Your recipe's title">
        </div>
        <div class="block">
            <div class="col span-1-of-3">
                <textarea name="ingredients_content" placeholder="Ingredients">{{ingredients_content}}</textarea>
            </div>
            <div class="col span-2-of-3">
                <textarea name="content" placeholder="Description and directory of your recipe">{{content}}</textarea>
            </div>
        </div>
        <input type="hidden" name="author" value="{{user.name}}">
        <div class="block">
            <div class="error">
                {{error}}
            </div>
        </div>
        <div class="block">
            <input type="submit" value="Add">
            <div class="btn-error">
                <button onclick="goBack()">Go Back</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
